:host{
    display:flex;
    justify-content: center;
    width:100%;
}
.container{
    width:80%;
    margin:0px auto;
    display: block;
    .info-container {
        display:flex;
        flex-direction: row;
        justify-content: space-between;
        main-table{
            width:50%;
            box-sizing: border-box;
            padding:10px;
        }

        chart{
            width:50%;
            box-sizing: border-box;
            padding:10px;
            
        }
    }
}