:host{
    background:#ff9696;
    min-height:20px;
    padding:20px;
    box-sizing: border-box;
    width:100%;
    display: block;
    position: relative;
    bottom:0;
    display: flex;
    justify-content: center;
    p { 
        font-size:10px;
        letter-spacing: 3;
        color:#fff;
        font-weight: 200;
        span{
            font-weight: 700;
        }
    }
}