<div class="table">
  <div class="table-header">
    <div>
      Country Name
    </div>
    <div>
      Country Continent
    </div>
    <div>
      Country Filter
    </div>
  </div>
  <div *ngFor="let country of values" class="table-line">
    <div>
       {{country.countryName}}
    </div>
    <div>
        {{country.continentName}}
    </div>
    <div>
      <p *ngIf="filters.metric == 'areaInSqKm'">{{country.areaInSqKm}} SqKms</p>
      <p *ngIf="filters.metric == 'population'">{{country.population}} people</p>
      <p *ngIf="filters.metric == 'None'">Alphabetical Order</p>
  
        </div>  
  </div>
</div>